<div class="page-header">
  <%= link_to governments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_government_path(@government), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show government</h1>
</div>

<dl class="dl-horizontal">
  <dt>Slug:</dt>
  <dd><%= @government.slug %></dd>

  <dt>Name:</dt>
  <dd><%= @government.name %></dd>

  <dt>Level:</dt>
  <dd><%= @government.level %></dd>

</dl>
