<% content_for :head do %>
  <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />

  <style>
    #map { height: 280px; }
  </style>
<% end %>

<h2><%= @division.name %></h2>

<h3>Current <%= pluralize(@division.officials.length, 'officeholder') %></h3>

<div class="panel-body">
  <% @division.officials.each do |official| %>
    <%= render partial: 'official/official', object: official %>
  <% end %>
</div>

<div id="map"></div>


<script type="text/javascript">
  $(function() {
    L.mapbox.accessToken = '<%= ENV.fetch('MAPBOX_API_KEY') %>'
    var map = L.mapbox.map('map', 'mapbox.streets')

    var geo = L.geoJSON(<%= @division.geom_geojson.html_safe %>).addTo(map)
    map.fitBounds(geo.getBounds())
  })
</script>
